{% extends "@DH_EspT/Default/base.html.twig" %}

{% block page_title _('EspT') %}

{% block content %}

    <div class="jumbotron espt-info">
        <p class="text-center">{{ _('espt_no_planned_event') }}</p>
    </div>
    <p></p>

{% endblock %}