{% extends "@DH_EspT/Default/base.html.twig" %}

{# @var group \DigiHelfer\EspTBundle\Entity\TeacherGroup #}

{% block page_title _('EspT') %}

{% block content %}

    <div id="espt-table">
        <!--Vue component inserted here-->
    </div>

    {% if is_granted('PRIV_ESPT_TEACHER') %}
        {% if groups is defined %}
            {% for group in groups %}
                <a role="button" class="btn btn-primary" href="{{ path('espt_print_group', {'groupId': group.id}) }}">{{ _('espt_generate_print') }}</a>
            {% endfor %}
        {% endif %}
    {% else %}
        <a role="button" class="btn btn-primary" href="{{ path('espt_print_student') }}">{{ _('espt_generate_print') }}</a>
    {% endif %}


{% endblock %}