{% extends "@DH_EspT/Default/base.html.twig" %}

{% block page_title 'Elternsprechtag' %}

{% block content %}

    <p>Aktuell ist die Registrierung aktiv</p>
    <p>Ab {{ regEnd }} können hier die Teilnehmerlisten eingesehen werden</p>
    <p>{{ startTime }} - {{ endTime }}</p>

{% endblock %}