{% extends "@DH_EspT/Default/base.html.twig" %}

{% block page_title 'Elternsprechtag' %}

{% block content %}

    <div class="jumbotron">
        <p class="text-center">Aktuell ist die Registrierung aktiv</p>
        <p class="text-center">Ab {{ regEnd|ldatetime }} können hier die Teilnehmerlisten eingesehen werden</p>
        <p class="text-center">{{ startTime|ldatetime }} - {{ endTime|ltime }}</p>
    </div>

{% endblock %}