{% extends "@DH_EspT/Default/base.html.twig" %}

{% block page_title _('EspT') %}

{% block content %}

    <div class="jumbotron">
        <p class="text-center">{{ __('espt_invite_time', regStart|ldatetime) }}</p>
        <p class="text-center">{{ __('espt_invite_time_window', startTime|ldatetime, endTime|ltime) }}</p>
    </div>

    <p>{{ _('espt_your_events') }}</p>

    <div id="espt-table">
        <!--Vue component inserted here-->
    </div>

    <div id="invite">
        <!--If this is defined, open invite modal instead of reservation confirmation-->
    </div>

    <div id="espt-schedule">
        <!--Vue component inserted here-->
    </div>

{% endblock %}