{% extends "@DH_EspT/Default/base.html.twig" %}

{% block page_title 'Elternsprechtag' %}

{% block content %}

    <div class="jumbotron">
        <p class="text-center">Bis {{ regStart|ldatetime }} können Schüler eingeladen werden</p>
        <p class="text-center">Sprechtag ist: {{ startTime|ldatetime }} - {{ endTime|ltime }}</p>
    </div>

    <div id="espt-schedule"></div>

{% endblock %}