{% extends "@DH_EspT/Default/base.html.twig" %}

{% block page_title 'Elternsprechtag' %}

{% block content %}

    <div class="jumbotron">
        <p>Registrierung ist offen bis {{ regEnd|ldatetime }}</p>
        <p>Sprechtag ist von {{ regStart|ldatetime }} - {{ regEnd|ltime }}</p>
    </div>

    <div id="espt-schedule"></div>

{% endblock %}