{% extends "@DH_EspT/Default/base.html.twig" %}

{% block page_title 'Elternsprechtag' %}

{% block content %}

    <p>Der nächste Elternsprechtag findet statt von {{ startTime }} - {{ endTime }}</p>
    <p>Registrierung ist möglich von {{ regStart }} - {{ regEnd }}</p>

{% endblock %}