{% extends "@DH_EspT/Default/base.html.twig" %}

{% block page_title 'Elternsprechtag' %}

{% block content %}

    <p>Registrierung ist offen bis {{ regEnd }}</p>
    <p>Sprechtag ist von {{ regStart }} - {{ regEnd }}</p>

    <div id="espt-schedule"></div>

{% endblock %}