Source: digihelfer-espt
Section: misc
Priority: optional
Maintainer: Johannes Theiner <kontakt@joethei.xyz>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.0
Homepage: https://pdf.joethei.space/Abgaben/Projektarbeit/index.pdf

Package: digihelfer-espt
Architecture: all
Depends: iserv-portal,
         iserv3-core,
         libgd-graph-perl,
         ${misc:Depends},
         ${perl:Depends}
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: Elternsprechtags Terminverwaltung
Tag: suite::iserv:portal, role::plugin, implemented-in::php, status::highlighted, status::recommended
