{% extends "@DH_EspT/Default/base.html.twig" %}

{% block page_title 'Elternsprechtag' %}

{% block content %}

    <div id="schedule1"></div>
    <div id="schedule2"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => schedule.js -->
    {% endif %}
    <script type="text/javascript" src="{{ asset('js/schedule.js', 'dh-espt') }}"></script>

{% endblock %}
